*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    color:#333;
}

header{
    background:#0b3d91;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#062b63;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

section{
    background:white;
    margin:20px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h2{
    color:#0b3d91;
    margin-bottom:20px;
}

.contenedor{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.tarjeta{
    background:#eef4ff;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

.tarjeta:hover{
    transform:translateY(-5px);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#0b3d91;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:12px;
    text-align:center;
}

article{
    margin-bottom:20px;
}

button{
    background:#0b3d91;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#062b63;
}

#datoCurioso{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
    color:#0b3d91;
}

footer{
    background:#0b3d91;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}